:root {
    --primary-color: #5f545c;
    --secondary-color: #eb7072;
    --white: #fff;
    --black: #000;
    --gray: #686868;
    --light-gray: #d4d4d4;
}

* {
    font-family: 'Montserrat', 'sans-serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--white);
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    align-items: center;
    padding: 15px 80px;
    justify-content: space-between;
}

#header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    gap: 20px;
}

header img {
    width: 40px;
}

header h3 {
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
}

header img, h3 {
    background-color: var(--primary-color);
}

#create-link {
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-size: 14px;
}

.container {
    min-height: 100%;
    padding: 40px 80px;
    place-items: center;
}

h1 {
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-size: 25px;
    width: 600px;
}

#table-title {
    width: 100%;
}

#empty-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px;
}

#empty-list-container img {
    width: 50px;
}

#empty-list-message {
    color: var(--gray);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th {
    font-weight: 700;
    border-bottom: 2px solid var(--black);
}

th, td {
    text-align: left;
    padding: 15px;
}

td {
    border-bottom: 1px solid var(--light-gray);
}

.actions {
    width: 120px;
}

.actions i {
    margin-left: 10px;
    cursor: pointer;
}

.actions i:hover {
    color: var(--secondary-color);
    transition: ease .5s;
}

a {
    text-decoration: none;
    color: var(--black);
}

.back-link-container {
    margin-bottom: 30px;
    width: 600px;
}

#back-link {
    border: 1px solid var(--light-gray);
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    color: var(--gray);
}

.data-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: start;
    width: 600px;
}

.data-wrapper p {
    font-weight: 500;
}

.date-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 600px;
}

.date-info span {
    color: var(--gray);
    font-weight: 500;
}

.date-info, .date-info p, .date-info span {
    background-color: var(--light-gray);
    font-size: 14px;
}

.date-info-container {
    display: flex;
    width: 600px;
    background-color: var(--light-gray);
    padding: 10px;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.vertical-separator {
    background-color: var(--gray);
    width: 1px;
    height: 60px;
}

#create-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 600px;
    margin-top: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.description-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-weight: 500;
}

.form-group input {
    padding: 5px;
    border: 1px solid var(--light-gray);
    width: 100%;
}

textarea {
    resize: none;
    padding: 5px;
    border: 1px solid var(--light-gray);
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-top: 20px;
}

.button-container a {
    border: 1px solid var(--gray);
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    width: 150px;
    display: flex;
    justify-content: center;
}

button {
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-size: 14px;
    width: 150px;
}